* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;

}

html,
body {
    width: 100%;
    height: 100%;
}

:root {
    --color1: black;
    --color2: white;
    /* --color3: #33415C; */
    --color4: #fafaff;
}

.dark-mode {
    --color1: white;
    --color2: black;
    --color3: #EBEBEB;

}


a {
    text-decoration: none;
}

#circle {
    border-radius: 50%;
    background-color: #002855;
    transform: translate(-50%, -50%);
    height: 2vw;
    width: 2vw;
    position: absolute;
    z-index: 99;
    /* background-color: #33415C; */
    pointer-events: none;
    top: 0;
    left: 0;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}



#loader {
    position: fixed;
    height: 100vh;
    width: 100%;
    color: aliceblue;
    background-color: #000000;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    clip-path: inset(0 0 0 0);
    /* Initial clip-path value */
    transition: bottom 0.5s ease, clip-path 0.6s ease;
    /* Transition clip-path property */
}


#loader h1 {
    /* color: #fff; */
    color: var(--background-color1);
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 4vw;
    text-transform: uppercase;
}

#loader .line-box {
    margin-top: 2%;
    padding: 1%;
    width: 50%;
    height: -2px;
    /* border: 3px solid #267591; */
    border-radius: 20px;
}

.line {
    height: 20px;
    border-radius: 20px;
    background: #67D295;
    animation: loading 2s forwards cubic-bezier(0, 0, 0, 0);

}

@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }

}

.pag1 {
    width: 100%;
    height: 100vh;
    /* background-color: var(--color1); */
    background-image: linear-gradient(to bottom left, #8EA2BE 70%, #FFFFFF);
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Navbar  */
.navbar {
    height: 8vh;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 3%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.name-text {
    line-height: 1.2;
    /* font-family: "Noto Sans JP", sans-serif; */
    font-family: "Nunito", sans-serif;

}

.name-text h4 {
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 8vw;
}

.navmenu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5vw;
}

.navmenu ul li {
    list-style: none;

}

.navmenu ul li a {
    text-decoration: none;
    /* color: rgb(0, 0, 0); */
    color: var(--black-color);
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Noto Sans JP", sans-serif;
}




/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Dark Mode Button  */

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    color: #fff;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label .ball {
    background-color: #fff;
    color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}




/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* VERTICAL MENU  */
.hamburger_menu {
    position: fixed;
    z-index: 13;
    top: 2vh;
    right: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9vh;
    height: 9vh;
    background-color: antiquewhite;
    border-radius: 50%;
    transition: all 1s;
}

.hamburger_menu:hover {
    background-color: #002855;
    cursor: pointer;

}

.menu {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.menu span {
    display: block;
    width: 40px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
    transition: transform 0.3s ease;
    border-radius: 4px;
}

.hamburger_menu:hover .menu span {
    background-color: #ffffff;
}

.menu.openmenu #line3 {
    transform: translateY(-10px) rotate(45deg);
}

.menu.openmenu #line2 {
    height: 3px;
    /* Ensure that the height matches other lines */
    opacity: 0;
}

.menu.openmenu #line1 {
    transform: translateY(10px) rotate(-45deg);
}

/* +++++++++++++++++++++++++++++++++++ */
.vertical_menu {
    width: 50%;
    height: 100vh;
    top: 0%;
    right: -50%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* justify-content: center; */
    position: fixed;
    z-index: 12;
    border-top-left-radius: 50%;
    /* Adjust border-radius properties */
    border-bottom-left-radius: 50%;
    /* Adjust border-radius properties */
    transition: right 0.5s ease, border-top-left-radius 0.6s ease, border-bottom-left-radius 0.6s ease;
    /* Add transitions for smooth animations */
}

.vertical_menu.openmenu {
    right: 0;
    /* Slide in from the right when menu is open */
    border-top-left-radius: 0%;
    /* Adjust border-radius properties */
    border-bottom-left-radius: 0%;
    /* Adjust border-radius properties */
}

.vertical_menu_list {
    padding: 7vw;
    /* width: 20%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.vertical_menu ul {
    list-style: none;

}

.vertical_menu ul li {
    /* list-style: none; */
    text-align: center;


    padding: 2vw;

}

.vertical_menu ul li a {
    text-transform: uppercase;
    font-weight: 700;
    /* font-size: 10vw; */
    font-size: 2vw;
    letter-spacing: 0.1vw;
    font-family: "Noto Sans JP", sans-serif;

}

.frame span {
    cursor: pointer;
    height: 5vw;
    text-align: center;
    font-size: 3vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: baseline;
    /* background-color: red; */
    padding: 0 5vw;
    display: block;
    /* transform: translateY(-5vw); */
}

.frame {
    /* background-color: yellow; */
    height: 5vw;
    display: block;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* MAINPART  */
.mainpart {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #002855; */
}

.mainpart-part1 {
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: blue; */
    /* display: flex;
    flex-direction: row-reverse; */
    justify-content: center;
}

.mainpart-part1 .infotext {
    /* background-color: #67D295; */
    width: 50%;
    height: 100%;
}

.mainpart-part1 .infoprofile {
    /* background-color: #fbfffd; */
    width: 50%;
    height: 100%;
}

.infotext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* margin: 5%; */
    margin-left: 5%;
    gap: 2.5%;
}

/* .infotext .text{
    font-size: 50%;
} */
/* .infotext span{
    font-size: 10%;
} */
.infotext button {
    width: 20%;
    padding: 10px;
    border-radius: 15px;
}

.social-links {
    font-size: 30px;
    /* color: #002855; */
    color: #111;
    /* background-color: #111; */
}

.social-links a {
    color: #111;
}

.social-links a:hover {
    transform: scale(1.1);
    /* color: #00ff6e; */
}

.infoprofile {
    /* background-image: url(back_svg2.png);
    background-repeat: no-repeat;
    background-position: center; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.infoprofile img {
    height: 90%;
    width: 90%;
    object-fit: cover;
}

.mainpart-part2 {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    /* background-color: rgb(244, 244, 255); */
}

.mainpart-part2 #arrow {
    /* background-color: ; */
    position: absolute;
    top: 85vh;
    height: 9vw;
    left: -2vw;
    color: ali;
    width: 9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #000000;
}

#arrow i {
    font-size: 5vw;
    font-weight: 200;
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.pag2 {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    /* background-image: linear-gradient(to bottom, #8EA2BE 70%, #FFFFFF); */
    /* background-color: rgb(87, 212, 212); */
}

.frame1 {
    top: 25%;
    position: absolute;
    height: 10vw;
    width: 10vw;
    background-color: #002855;
    color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 50%;
    /* margin: 2%; */
    margin-left: 2%;
}

.frame1 span {
    font-weight: 700;
    text-align: center;
    font-size: 1.5vw;
}

/* ++++++++++++++++++++++++++++++++++ */
.pag2part2 {
    padding: 5% 5% 0% 5%;
    /* margin: 2%; */
    width: 100%;
    height: 100%;
    /* background-color: #67D295; */
}

.pag2part2who {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #8EA2BE; */
}

.secprofile {
    height: 100%;
    width: 50%;
    padding-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.secprofile img {
    width: 50%;
    height: 80%;
    object-fit: cover;
    border-bottom: 3vw solid #EBEBEB;
    border-top: 1vw solid #EBEBEB;
    border-left: 1vw solid #EBEBEB;
    border-right: 1vw solid #EBEBEB;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.secprofiletext {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flexend;
    align-items: center;
}

.secprofiletext p {
    width: 75%;
    font-size: 28px;
}

.pag2part2 h2 {
    text-align: center;
    font-size: 40px;
}


.pag3 {
    width: 100%;
    height: 100vh;
    background-color: rgb(24, 115, 115);
}

/* ++++++++++++++++++++++++++++++++ */

.container1 h2 {
    text-align: center;
    padding: 2% 0%;
}

.tab {
    display: flex;
    justify-content: center;
    height: 10%;
    background-color: #4caf50;
    width: 60%;
    margin: 0 auto;
    /* Center horizontally */
    text-align: center;
    margin-bottom: 2%;
    border-radius: 30%;
    /* padding: 2%; */
    /* Center the buttons inside */
}

/* Style the buttons inside the tab */
.tab button {
    width: 100%;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    width: 60%;
    display: none;
    padding: 3% 1%;
    /* border: 1px solid #ccc; */
    border-top: none;
    margin: 0 auto;
}

/* Skill bar styles */
.skill-bar {
    margin: 10px 0;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
}

.skill-bar-fill {
    background-color: #4caf50;
    height: 10px;
    transition: width 0.5s;
}

.skill-text {
    padding: 5px;
    font-size: 14px;
    font-weight: 900;
    color: #000000;
}

.container2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.container2 h2 {
    text-align: center;
}

.Logo_images {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo_images img {
    width: 15%;
    height: 35%;
    aspect-ratio: 3/2;
    object-fit: contain;
    /* mix-blend-mode: color-dodge; */
}

/* Media query for smaller screens */
.pag4 {
    width: 100%;
    height: 100vh;
    background-color: #4caf50;
}

.col {
    padding: 2vw 3vw;

}

header h2 {
    padding: 3vw;
}

.contents {
    padding: 0px 30px;
    border-left: 2px solid #000000;
}

.box {
    padding: 2vw;
    border: 1px solid #eaeaea;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.4s;
}

.box:hover {
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.box h4 {
    font-weight: 900;
}

.box h3 {
    font-weight: 700;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    /* position: fixed; */
    width: 100%;
    height: 20vh;
}

.footer-content p {
    margin: 0;
}




@media screen and (max-width: 767px) {
    body {
        .pag1 {
            width: 100vw;
        }

        #circle {
            display: none;
        }

        .navmenu {
            display: none;
        }

        .hamburger_menu {
            display: flex;
        }

        .vertical_menu {
            width: 70%;
            right: -100%;
        }

        .vertical_menu_list {
            margin-top: 12vh;
        }

        .vertical_menu ul {
            margin-top: 10vw;
        }

        .vertical_menu_list h3 {
            font-size: 10vw;
        }

        .frame {
            font-size: 9vw;
            height: 10vw;
            margin-top: 2vw;
        }

        .frame span {
            font-size: 8vw;
            height: 10vw;
        }

        .mainpart-part1 {
            display: flex;
            flex-direction: column-reverse;
        }

        .mainpart-part1 .infotext {
            /* background-color: #67D295; */
            width: 100%;
            height: 55%;
        }

        .mainpart-part1 .infoprofile {
            /* background-color: #fbfffd; */
            width: 100%;
            height: 50%;
        }

        .infoprofile img {
            height: 75%;
            width: 80%;
        }

        .infotext {
            padding: 0% 5%;
            margin-left: 0%;
            justify-content: flex-start;
        }

        .infotext h1 span {
            font-size: 6vw;
        }

        .infotext h2 {
            font-size: 4vw;
        }

        .infotext button {

            font-size: 1.8vh;
            font-weight: 600;
            width: 45%;
            padding: 7px;
            border-radius: 15px
        }

        .frame1 {
            top: 99vh;
            height: 20vw;
            width: 20vw;
        }

        .frame1 span {
            font-size: 4vw;
        }

        .pag2part2 {
            padding: 5% 0% 0% 0%;
            /* margin: 2%; */
            width: 100%;
            height: 100%;
            /* background-color: #67D295; */
        }

        .pag2part2who {
            flex-direction: column;
        }

        .pag2part2 h2 {
            font-size: 30px;
        }

        .secprofile {
            justify-content: center;
            width: 100%;
        }

        .secprofiletext {
            width: 100%;
            justify-content: center;
            align-items: flex-start;
        }

        .secprofiletext p {
            font-size: 2.35vh;
        }

        .tab {
            width: 85%;
            height: 15%;
        }

        .container1 h2 {
            padding: 10% 0%;
        }

        .container2 h2 {
            padding: 0% 1%;
        }

        .Logo_images img {
            height: 23%;
        }

        .container1 {
            width: 100%;
            height: 50vh;
        }

        .container2 {
            width: 100%;
            height: 50vh;
            justify-content: flex-end;
        }

        header h2 {
            padding: 4vw;
        }

        /* .box h4,
        .box h3 {
          margin-bottom: 10px; 
        } */


        .tab button {
            width: 110%;
            /* Make tabs full-width */
            text-align: center;
            padding: 0px 0px;
            font-size: 12px;
        }


    }
}